<%= form_for request, url: handle_status_admin_borrowed_requests_path, method: :put do |f| %>
  <div>
    <%= hidden_field_tag :id, request.id %>
    <%= hidden_field_tag :name, "return" %>
  </div>

  <%= f.submit t(".submit_button"), class: "btn btn-primary" %>
<% end %>
