<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <img src="" alt="" />
        <h2><%= book.name %></h2>
        <p><%= t ".qty" %>: <%= book.amount %></p>
        <a href="#" class="btn btn-default add-to-cart">
          <i class="fa fa-shopping-cart"></i><%= t ".add_to_cart" %>
        </a>
      </div>
    </div>
  </div>
</div>
